@import "./hero.css";
@import "./film.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
}

.card-hero .shadow-overlay,
.card-film .shadow-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}
